<h1>Kyla Mae A. Cantos </h1>
<h3>Project 6: Titanic</h3>

In [1]:
import pandas as pd

In [2]:
titanic = pd.read_csv('titanic.csv')

In [3]:
titanic

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [4]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier

<h1>1. Can we predict whether a passenger survived based on their age, sex, and class?</h1>

In [5]:
model_df = titanic[['Survived','Age','Sex','Pclass']].dropna()
model_df['Sex'] = model_df['Sex'].map({'male':0, 'female':1})

X = model_df[['Age','Sex','Pclass']]
y = model_df['Survived']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
model = LogisticRegression()
model.fit(X_train, y_train)
pred = model.predict(X_test)

accuracy_score(y_test, pred)

0.7482517482517482

<h3>Insights <br>1. Women survived much more often than men, mostly because they were prioritized during rescue. <br>
    
2.People in 1st class survived more, since they were closer to lifeboats and received quicker help.<br>
3. Younger people had better chances, although age mattered less than gender and class.</h1>

<h1>2. Can we predict a passenger’s fare based on class, age, and number of family members?</h1>

In [6]:
titanic['FamilySize'] = titanic['SibSp'] + titanic['Parch']
fare_df = titanic[['Fare','Pclass','Age','FamilySize']].dropna()

from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split

X = fare_df[['Pclass','Age','FamilySize']]
y = fare_df['Fare']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

model = RandomForestRegressor()
model.fit(X_train, y_train)

pred = model.predict(X_test)
mean_absolute_error(y_test, pred)

19.47111545898822

<h3>Insights <br>
1. Ticket class is the biggest reason fares differ, with 1st-class tickets costing much more. <br>

2. Bigger families often paid less per person, because they purchased tickets together. <br>

3.Age does not change the ticket price, showing prices were based on class, not age.</h3>

<h1>3. Can we predict whether a passenger was traveling alone? </h1>

In [7]:
titanic['FamilySize'] = titanic['SibSp'] + titanic['Parch'] 

alone_df = titanic[['FamilySize','Age','Fare','Sex']].dropna() 
alone_df['Sex'] = alone_df['Sex'].map({'male':0,'female':1}) 
alone_df['Alone'] = (alone_df['FamilySize'] == 0).astype(int) 

X = alone_df[['Age','Fare','Sex']] 
y = alone_df['Alone'] 

from sklearn.linear_model import LogisticRegression 

model = LogisticRegression() 

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2) 
model.fit(X_train, y_train) 
pred = model.predict(X_test) 
accuracy_score(y_test, pred)

0.6923076923076923

<h3>Insights: <br>
    
1 Young and elderly passengers usually traveled with family, not alone. <br>

2 Women were more likely to travel with relatives, reflecting social norms of the time. <br>

3 People traveling alone bought cheaper tickets, often in 3rd class.</h3>

<h1>4. Can we predict whether a passenger boarded at port C, Q, or S?</h1>

In [8]:
embark_df = titanic[['Embarked','Fare','Pclass','Sex']].dropna() 
embark_df['Sex'] = embark_df['Sex'].map({'male':0,'female':1}) 
embark_df['Embarked'] = embark_df['Embarked'].map({'C':0,'Q':1,'S':2}) 

from sklearn.ensemble import RandomForestClassifier 

X = embark_df[['Fare','Pclass','Sex']] 
y = embark_df['Embarked'] 

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2) 

model = RandomForestClassifier() 
model.fit(X_train, y_train) 

pred = model.predict(X_test) 
accuracy_score(y_test, pred)

0.7921348314606742

<h3>Insights: <br>
1 Cherbourg passengers paid higher fares, showing many wealthy travelers boarded there. <br>
    
2 Southampton had more low-fare passengers, since it was the ship’s main starting point and served many workers. </h3>

<h1>5. Who has the highest survival rate based on their Age, Sex and Embarked? </h1>

In [9]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

titanic["Sex"] = titanic["Sex"].map({"male": 0, "female": 1})
titanic["Embarked"] = titanic["Embarked"].map({"C": 0, "Q": 1, "S": 2})

df = titanic[["Pclass", "Sex", "Age", "Embarked", "Survived"]].dropna()

X = df[["Pclass", "Sex", "Age", "Embarked"]]
y = df["Survived"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

model = RandomForestClassifier()
model.fit(X_train, y_train)

y_pred = model.predict(X_test)

print("Accuracy:", accuracy_score(y_test, y_pred))

Accuracy: 0.7902097902097902

<h3>Insights: <br>
1 Sex is the strongest predictor of survival. Females had a much higher chance of surviving than males, this pattern is consistently recognized by the model. <br>

2 Higher-class passengers (Pclass 1) were more likely to survive. Passengers in 1st class had better access to lifeboats, which strongly increased their survival probability.<br>

3 Younger passengers survived more often than older ones. The model shows that children and younger adults had better survival outcomes compared to older passengers.</h3>